@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-div::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
    background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: rgba(63, 63, 70, 0.5); 
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
}