:root{
    ---gradinet: linear-gradient(#E7691A, #FE9032);
}
.user {
    width: 25%;
    height: auto;
    border-radius: 20px;
    background: #212121;
    padding-bottom: 30px;
    margin-left: 10px;
}
.user img {
    position: absolute;
    margin: 30px;
    height: 80px;
}
.user h2{
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
}
.user button{
    margin-top: 70px;
    width: 130px;
    margin-left: 150px;
    font-size: 20px;
    color: white;
    background: var(---gradinet);
    border-radius: 18px;
}
.user button:hover{
    transform: scale(1.05);
    transition: .3s;
    background: transparent;
    border: 1px solid orangered;
}