:root{
    ---gradinet: linear-gradient(#E7691A, #FE9032);
}
.user {
    width: 25%;
    height: auto;
    border-radius: 20px;
    background: #212121;
    padding-bottom: 30px;
    margin-left: 10px;
}
.user img {
    position: absolute;
    margin: 30px;
    height: 80px;
}
.user h2{
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
}
.user button{
    margin-top: 70px;
    width: 130px;
    margin-left: 150px;
    font-size: 20px;
    color: white;
    background: var(---gradinet);
    border-radius: 18px;
}
.user button:hover{
    transform: scale(1.05);
    transition: .3s;
    background: transparent;
    border: 1px solid orangered;
}
.bio {
    width: 25%;
    height: auto;
    border-radius: 20px;
    background: #212121;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
}
.bio h3{
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 10px;
}
.bio p{
    color: white;
    padding-left: 20px;
}
.friends{
    width: 25%;
    height: auto;
    border-radius: 20px;
    background: #212121;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
}
.friends h3{
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}
.friendlist {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
.friend {
    display: flex;
    align-items: center;
}
  
.friend img {
    margin-right: 15px; 
}
.friend h2{
    color: white;
    font-weight: 500;
}